<div class="personajes-container">
  <h1 class="personajes-title">Personajes</h1>


   <p>Ttoal Personajes : {{totalPersonajes()}}</p>
 




   <app-nuevopersonaje
   (nuevoperonaje)="crearPersonaje($event)"
   
   ></app-nuevopersonaje>


  <app-table-list 
  listName="Personajes"
  [data]="personajes()" 
  [columns]="[
    { header: 'id', field: 'id' },
    { header: 'nombre', field: 'nombre' },
    { header: 'poder', field: 'poder' }
  ] 
  
  " (delete)="eliminarPersonaje($event)">
</app-table-list>

</div>
